{% extends "base.html" %}

{%  block content %}

    {% if form.errors %}
        <p class="alert alert-danger">Registration failed. Please try again.</p>
    {% endif %}

    <h3>Choose username and password and enter your email address</h3>

    <form method="post" action="{% url 'register' %}" class="form-horizontal" role="form">
    {% csrf_token %}

        {% for field in form %}

            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label col-sm-5">{{ field.label_tag }}</label>
                <div class="col-sm-7">{{ field }}</div>
                <div>{{ field.errors }}</div>
            </div>

        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-success">Register</button>
        </div>

    </form>

    <div>
        Already have an account? <a href="{% url 'login' %}">Log in</a>
    </div>

{% endblock %}


